@import '/src/styles/_index';

.auth {
  padding-bottom: 50px;
  min-height: 100vh;
  background-color: $bg-color;
  padding-top: 50px;
  padding-bottom: 100px;

  display: flex !important;
  justify-content: center;
  align-items: center !important;
  text-align: center;

  &__text {
    color: $white-color;
  }
}

.content {
  display: flex !important;

  max-width: 410px !important;
  overflow: hidden;
  border-radius: 1rem;
  border: 0;
  box-shadow: 5px 5px 10px #000000;
  background-color: $bg-color;

  padding: 1rem 3rem;

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    text-decoration: none;
    background-color: $main-color;
    color: $bg-color;

    border-radius: 1rem;
    padding: 10px;

    width: 100%;
    box-shadow: 0.1rem 0.2rem 0.2rem $main-color;
    transition: 200ms;
    margin-bottom: 0.9rem;
    cursor: pointer;

    span {
      font-size: 32px;
    }

    &:hover {
      transform: scale(0.95);
    }
  }

  &__text {
    font-size: 18px;
    font-weight: 600;
  }

  hr {
    background-image: linear-gradient(to right, transparent, #a1a1a1, transparent);
    height: 2px;
    border: 0;
    opacity: 1;
    width: 100%;
    margin: 1rem 0 1rem 0;
    box-sizing: content-box;
  }

  @media (max-width: 768.98px) {
    max-width: 380px !important;
    padding: 0.7rem 2rem;
  }

  @media (max-width: 468.98px) {
    max-width: 340px !important;
    padding: 0.5rem 1.6rem;
  }

  &__icons {
    border: 0;
    border-radius: 50%;
    background-color: $main-color;
    height: 4rem;
    width: 4rem;
    text-align: center !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0.8rem auto 0.2rem auto;
  }

  &__icon {
    width: 55px;
    height: 37px;
  }

  &__title {
    padding-bottom: 30px;
    @include home_title;
  }

  &__back {
    margin: 6px auto 10px auto;

    display: flex;
    gap: 10px;
    justify-items: center;
    justify-content: center;

    background-color: #00000000;
    color: #a1a1a1;
    border: 0;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;

    span {
      font-size: 22px;
    }
  }
}

.filed_icon {
  width: 25px;
  height: 25px;
  color: $main-color;
}

[aria-selected='true'] {
  background-color: $main-color !important;
  color: $bg-color !important;
}

[data-selected] {
  border-color: none !important;
}
