@import '/src/styles/_index';

.layout {
  display: flex;
  flex-direction: column;
  padding: 0 !important;
  max-width: 100% !important;
  min-height: 100vh;

  &__page {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100% !important;
    max-width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }
}

.pageLayout {
  display: flex;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  text-transform: capitalize;

  &__content {
    width: 100%;
    background: #000;
    padding: 0 0 0 calc(300px + 20px);
  }
}
