@import '/src/styles/_index';
.theory {
  padding-top: 80px;
  color: $text-color;

  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    text-align: center;
    padding: 16px 0;
    font-size: 26px;
    font-weight: 700;
  }

  &__subtitle {
    text-align: center;
    padding: 16px 0;
    font-size: 18px;
    font-weight: 500;
  }

  &__items {
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 30px;

    text-decoration: none;
    background-color: $main-color;
    color: $bg-color;

    border-radius: 1rem;
    padding: 10px;

    width: 100%;
    box-shadow: 0.1rem 0.2rem 0.2rem $main-color;
    transition: 200ms;
    margin-bottom: 0.9rem;
    cursor: pointer;

    span {
      font-size: 32px;
    }

    &:hover {
      transform: scale(0.95);
    }
  }

  &__text {
    font-size: 16px;
    font-weight: 500;
  }
}
