@import '/src/styles/_index';

.sidebar {
  background-color: #171717;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem 1rem;
  width: 300px;
  height: 100vh;
  transition: 0.5s all;
  box-sizing: border-box;
}

.contents {
  margin: 2rem 0 0 0;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;

  &__logo {
    padding: 0 1rem 0 0.8rem;
    font-size: 28px;
    color: $main-color;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    margin: 0.75rem 0;
    padding: 0.75rem 0;
    width: 100%;

    border-radius: 1rem;
    text-decoration: none;
    cursor: pointer;

    &.active {
      background-color: #7ea70c;

      &:hover {
        background-color: #7ea70c;
      }
    }

    &:hover {
      background-color: #8d8d8daf;
      transition: 0.25s;
    }
  }

  &__text {
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 0 0.5rem;
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &__title {
    font-size: 31.42px;
    color: $main-color;
    padding: 0 0 0 1rem;
    font-weight: 700;
  }

  &__image {
    font-size: 40px;

    color: $main-color;
  }
}

.burger {
  content: '';
  background-color: $main-color;
  position: absolute;
  right: calc(-35px / 2);
  top: calc(6rem / 1.15);
  width: 35px;
  height: 35px;
  border-radius: 2rem;
  z-index: 1;

  &__trigger {
    content: '';
    width: 35px;
    height: 35px;
    background-color: red;
    cursor: pointer;
    z-index: 6;
    opacity: 0;
    position: relative;
  }

  &__menu {
    content: '';
    background-color: $main-color;
    position: relative;
    z-index: 1;
    width: 20px;
    height: 3px;
    border-radius: 2rem;
    bottom: calc(35px / 2);
    left: 0.45rem;
    transition: 0.5s all;

    &::after {
      content: '';
      background-color: #ffffff;
      position: absolute;
      width: 20px;
      height: 3px;
      border-radius: 2rem;
      top: 0.4rem;
      transform: translateY(-0.4rem) rotate(45deg);
      transition: 0.5s all;
    }

    &::before {
      content: '';
      background-color: #ffffff;
      position: absolute;
      width: 20px;
      height: 3px;
      border-radius: 2rem;
      top: -0.3rem;
      transform: translateY(0.3rem) rotate(-45deg);
      transition: 0.5s all;
    }
  }
}

.burger::after {
  content: '';
  position: absolute;
  right: 35px;
  top: calc(32px / 2);
  z-index: 0;
  width: calc(6rem + 15rem);
  background-color: $main-color;

  height: 2px;
  transition: 0.5s all;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 3rem 0 0 0;

  img {
    width: auto;
    height: 3rem;
  }

  &__contents {
    padding: 0 0 0 1rem;
  }

  &__name {
    padding: 0;
    margin: 0;
    font-size: 16.7px;
    color: #ffff;
    text-transform: capitalize;
    font-weight: 800;
  }

  &__email {
    padding: 0;
    margin: 0;
    font-size: 13.9px;
    color: #ffff;
    text-transform: lowercase;
  }
}

.sidebar.active {
  width: 5.5rem;
  transition: 0.5s all;

  .logo.active {
    .logo__title {
      opacity: 0;
    }
  }

  .burger.active {
    transition: 0.5s all;

    .burger__menu {
      background-color: #ffffff;
      transition: 0.5s all;
    }

    .burger__menu::before {
      transform: translateY(0rem) rotate(0deg);
      transition: 0.5s all;
    }

    .burger__menu::after {
      transform: translateY(0rem) rotate(0deg);
      transition: 0.5s all;
    }
  }

  .profile {
    .profile__contents {
      opacity: 0;
    }
  }

  .contents {
    &__text {
      opacity: 0;
    }
  }
}
