@import '/src/styles/_index';

.header {
  background: $bg-color;

  &__container {
    max-width: 1640px !important;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 20px !important;
  }

  &__title {
    @include home_title;
  }
}

@media (max-width: 570px) {
  .header {
    &__container {
      gap: 5px;
    }

    &__title {
      font-size: 25px;
    }
  }

  .button {
    &_header {
      font-size: 13px !important;
    }
  }
}

@media (max-width: 500px) {
  .button {
    &_header {
      font-size: 12px !important;
    }
  }
}
