@import '/src/styles/_index';

.header {
  background: $bg-color;

  &__container {
    max-width: 1640px !important;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 20px !important;
  }

  &__title {
    @include home_title;
  }
}
